{% extends 'base.html' %}

{% block content %}
<div class="d-flex has-sidebar">
    <div class="sidebar">
        <div class="p-3 border-bottom border-white border-opacity-25">
            <h5 class="mb-0 text-white">{{ title }}</h5>
        </div>
        <div class="list-group list-group-flush">
            {% block sidebar_content %}{% endblock %}
        </div>
    </div>
    <div class="content-area">
        <div class="container-fluid">
            {% block main_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}